@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    font-family: 'Roboto, monospace';
}

mat-form-field {
    display: block;
}

.form {
    display: flex;
    flex-direction: column;
}

.form > * {
    width: 100%;
}

.header {
    color: white;
    margin: 0;
    padding: 20px 10px;
    background-color: #1abc9c;
}
